---
export interface Props {
title: string;
description: string;
}
const { title, description } = Astro.props;
---

<header class="mx-auto max-w-xl text-center justify-center content">
  <h1 class="text-3xl" data-test="header-title">{title}</h1>
  <p data-test="header-description">{description}</p>
  <img class="justify-center" src="https://i.postimg.cc/8z6f52Wc/03.jpg"/>
</header>